<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0">
    <title>Index</title>
    <!-- Add to homescreen for Chrome on Android -->
    <meta name="mobile-web-app-capable" content="yes">
    <!--<link rel="icon" sizes="192x192" href="images/android-desktop.png">-->

    <!-- Add to homescreen for Safari on iOS -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-title" content="Material Design Lite">
    <!--<link rel="apple-touch-icon-precomposed" href="images/ios-desktop.png">-->

    <!-- Tile icon for Win8 (144x144 + tile color) -->
    <meta name="msapplication-TileImage" content="images/touch/ms-touch-icon-144x144-precomposed.png">
    <meta name="msapplication-TileColor" content="#3372DF">

    <!--<link rel="shortcut icon" href="images/favicon.png">-->

    <!-- SEO: If your mobile URL is different from the desktop URL, add a canonical link to the desktop page https://developers.google.com/webmasters/smartphone-sites/feature-phones -->
    <!--
    <link rel="canonical" href="http://www.example.com/">
  -->

    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&amp;lang=en">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.2.1/material.deep_purple-pink.min.css">
    <link rel="stylesheet" href="stylesheets/styles.css">
    <!--Import Google Icon Font-->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!--Import materialize.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/materialize.min.css" media="screen,projection" />
    <!--Import select2.css-->
    <link type="text/css" rel="stylesheet" href="stylesheets/select2.min.css" />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="javascripts/materialize.min.js"></script>
    <script type="text/javascript" src="javascripts/select2.min.js"></script>


    <!--<link rel="stylesheet" href="stylesheets/index.css">-->
</head>

<body>
    <div>
        <header id="header">
            <div class="topbar">
                <a href="index.html" class="title">
                    <h1 style="font-family: lazyyyfont">Vestiarium</h1>
                </a>
                <div class="drawer">
                    <button class="drawer_button">
                        Drawer: This button will pull out the drawer
                    </button>
                    <nav class="drawer_content" style="visibility: none">
                        <a href="javascript:void(0)" class="closebtn">&times;</a>
                        <a href="index.html">Home Page</a>
                        <a href="explore.html">Explore</a>
                        <a href="setting.html">Setting</a>
                        <a href="faq.html">FAQ</a>
                    </nav>
                </div>
                <a href="compare.html">
                    <button class="camera">
                        <img src="#" alt="Camera: click here to take a new photo or upload from album">
                    </button>
                </a>
            </div>
        </header>
        <main>
            <div class="uploaded-photo">
                <img src="#" alt="This is the photo uploaded by user">
            </div>
            <div class="photo-for-comparison">
                <h4 class="photo-for-comparison prompt">CLICK TO COMPARE</h4>
                <ul class="photo-for-comparison list">
                    <img src="#" alt="Photo 1">
                    <img src="#" alt="Photo 2">
                    <img src="#" alt="Photo 3">
                    <img src="#" alt="Photo 4">
                    <img src="#" alt="Photo 5">
                    <img src="#" alt="Photo 6">
                    <img src="#" alt="Photo 7">
                    <img src="#" alt="Photo 8">
                    <img src="#" alt="Photo 9">
                </ul>
                <button class="photo-for-comparison">BACK</button>
                <button class="photo-for-comparison">I'LL BUY IT</button>
            </div>
        </main>
    </div>
</body>

</html>