<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>storage</title>
    <script type='text/javascript' src='javascripts/prefixfree.min.js'></script>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="stylesheets/storage.css">
</head>
<body>
    <p><a href="/">Back</a></p>
    <div class="wrap col-9">
        <div class="menu col-9">
            <header><h1>Storage</h1></header>
            <nav>
                <ul class="navigate">
                    <li class="active" data-type ="all"><a href="#">All</a></li>
                    <li data-type="formal"><a href="#">Formal</a></li>
                    <li data-type="top"><a href="#">Top</a></li>
                    <li data-type="bottom"><a href="#">Bottom</a></li>
                </ul>
            </nav>
        </div>
        <div class="portfolio col-9">
            <figure class="img-wrap col-3">
                <img src="http://images.menswearhouse.com/is/image/TMW/MW40_30L7_67_LAUREN_BY_RALPH_LAUREN_BLUE_WINDOWPANE_MAIN?$40Zoom$" alt="" title="formal"></figure>
            <figure class="img-wrap col-3">
                <img src="https://ae01.alicdn.com/kf/HTB1DUhIKVXXXXbpXpXXq6xXFXXXt/New-winter-2016-font-b-Men-b-font-font-b-sweater-b-font-Fake-two-pieces.jpg" alt="" title="top"></figure>
            <figure class="img-wrap col-3">
                <img src="http://dc615.4shared.com/img/o2c0gYgzce/s3/1466d1312a8/fashion1.jpg" alt="" title="bottom"></figure>

        </div>

    </div>
</body>
<script src="javascripts/storage.js"></script>
</html>